ul li{
  list-style: georgian;
}

.app_wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
          "h h"
          "n c";
  grid-template-rows: 120px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 1800px;

}



.app_wrapper-content {
  grid-area: c;
  background-color:aquamarine;
  width: 100%;
}

a.active{
  color: gold!important;
}
